
<cmp 
	name = "CMP皮肤设计网" 
	link = "http://huoqingchun.cn/" 
	description = "最专业的CMP皮肤制作者"
	logo = "{src:images/logo.png,xywh:[10R,10R,0,0]}"
	
	skins="skins/xdj.zip"
	plugins = "plugins/xiami.swf,plugins/proxy.swf"
	
	backgrounds = ""
	lists = ""
	image_handler="http://maijide.qiniudn.com/pic%2F{Singer}.jpg?imageView2/1/w/150/h/150/q/100"
	src_handler = 
	lrc_handler = "http://maijide.qiniudn.com/lrc%2F{Lyric}"
	bg_video="{src:http://maijide.qiniudn.com/pic%2F{Singer}.jpg?imageView2/1/w/966/h/500/q/100,xywh:[0C,0C,0,0]}"
	bg_lrc=""
	skin_id = "1"
	shortcuts="1"
	play_id = ""
	auto_play = ""
	list_delete = ""
	show_meta="0"
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
	counter="http://img.users.51.la/17396229.asp"
	
/>